

@media (min-width: 1200px) {

  #introbd {
    display: none;
  }


  #header002 {
    display: block;
}

#header001 {
  display: none;
}

    #myphoto {
      grid-area: 2 / 2 / 3 / 4 ;
      border: 3px solid rgb(75, 75, 75, 0.6)  ;
      padding: 1rem 1rem 2.5rem;
      border-radius: 0;
      /* justify-self: end; */
      align-self: normal;
      justify-self: normal;
      max-width: 50%;
      margin-top: 2rem;
      margin-left: 15rem;
    
    }
    
    .text {
    max-width: 60%;
    margin-left: 5rem;
    padding: 2rem 1rem 2.5rem;
    
    }



    .indexcard p, .indexcard h1 {
      color: black;
    }
    
    .box-box  {
      display: grid;
      grid-template-columns:  1fr  1fr  1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;
      grid-area: 4 / 2 / 6 / 7 ;
      grid-gap: 20px;
      /* margin-right: 5rem; */
      margin: 4rem  !important;
      /* width: 100%; */
      max-width: 100%;
      max-height: 100%;
    }
    
    .content {
      padding-top: 9rem;
    }
    
    .image-wrapper {
        perspective: 500px; 
    }
    
    .image-wrapper .content {
        width: 70%;
        height: 80%;	
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(90deg);
        transform-origin: 50%;
        background: rgba(255,255,255,0.9);	
        opacity: 0;
        transition: all 0.4s ease-in;
        
    }
    .image-wrapper:hover .content {
        transform: translate(-50%, -50%) rotateY(0deg);
        opacity: 0.95;
    }
    
    #feelfree {
      font-family: 'montserrat', Arial, Helvetica, sans-serif;
      margin-top: 0 !important;
      padding-top: 0 !important;
    }
    
    }