/* remember to change the size of images */
/* remember to change the size of images */
/* remember to change the size of images */
/* remember to change the size of images */
/* remember to change the size of images */

@import 'css/aboutme.css';
@import 'css/plannerdesign.css';
@import 'responsive.css';

* {
  box-sizing: border-box;
}

*  {
  margin: 0;
  padding: 0;
}

html {
  color: #2b2b2b;
  font-size: 100%;
}

.header_image01, img { 
  max-width: 100%; 
  min-width: 30%; 
}
.header_image01 {
  border: 5px double black;
}
/* .header_image02 {
  display: none;
} */






h1 { 
  font-size: 1.5rem;  /* 64px */
  text-decoration: none;
  text-shadow: 2px 2px 3px rgba(255, 255, 229, 0.993);
  margin: 0;
  padding: 1.3rem;
}

h2 { font-size: 1.2rem;
  text-shadow: 2px 2px 3px rgba(255, 255, 229, 0.993);}

h3 { font-size: 1.0rem;
  text-shadow: 2px 2px 3px rgba(255, 255, 229, 0.993);}

h1, h2, h3, h4, h5, h6 {
  color: rgb(48, 47, 47, 0.85);
  font-family: 'montserrat', Arial, Helvetica, sans-serif; 
  font-weight: bold;
}

body {
  background-color: rgba(255, 255, 229, 0.4);
}

p {
  color:rgb(48, 47, 47, 0.80);
}

/* need fix */
.all {
  background-color: rgb(254, 255, 238);
  border-color: black;
  box-shadow: 5px 5px 5px lightgray;
  margin: 1rem;
  text-align: center;
}






/* header start */
.header_image {
  box-sizing: 0;
}

.header {
  background-color: rgb(255, 245, 190);
  /* bottom: 0.2rem; */
  display: flex;
  flex-direction: column;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  font-style: bold; 
  font-weight: 100%;
  margin: 0;
  min-width: 2rem; 
  padding: 0;
  position: relative;
  text-align: center;
}

#home {
  background-color: rgb(255, 255, 200);
}

#aboutme {
  background-color: rgb(255, 255, 180);
}

#plannerdesign {
  background-color: rgb(253, 255, 150);
}

li {
  list-style: none;
} 
/* responsive */

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.navigation a {
  color: white;
  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.navigation :hover {
  background-color: rgb(255, 211, 115);
}


.tiange02 {
  display: none;
  font-family: 'Parisienne', cursive;
}





/* header finish */

/* main start */

.index {
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgb(209, 209, 209);
  margin: 0.5rem;
  max-width: 30%;
}

#topmargin {
  margin-top: 1.5rem;
}

#bottommargin {
  margin-bottom: 1.2rem;;
}
.indexcard {
  margin: 0.5rem;
  padding: 0.5rem;
}

#top {
  margin-top: 1.5rem;
}

#notop {
  margin-bottom: 2rem;
  margin-top: 0rem;
  padding: 0rem;
}

/* footer start */

footer {
  background-color: rgb(255, 245, 190);
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  max-zoom: 100%;
  min-zoom: 20%;
  padding: 2.4rem;
  text-align: center;
}



a:link {
  color: rgb(80, 80, 80);
}

a:visited {
  color: rgb(85, 85, 85);
}

a:hover {
  color: rgb(46, 46, 46);
}

/* responsive */



@media (min-width: 480px) {
  .header_image01 {
    width: 100%; 
    height: 250px; 
    overflow: hidden;
    position: relative;
    z-index: -1rem;
}
.tiange01 {
  text-align: center;
}
.tiange02 {
  display: none;
}
.navigation {
    flex-direction: row;
}

#home, #aboutme, #plannerdesign {
  width: 100%;
}

.container {
  max-width: 40%;
  margin: 2rem auto;
  padding: 0.2rem;
  position: relative;
}
}

@media (min-width: 768px) {
  
  .header_image01 {
    width: 100%; 
    height: 250px; 
    overflow: hidden;
}
.tiange01 {
  text-align: center;
}
.tiange02 {
  display: none;
}
.navigation {
  flex-direction: row;
}

#home, #aboutme, #plannerdesign {
  width: 100%;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 30px 30% 25% 25% 10% 30px;
  /* grid-gap: 10px; */
}

/* biaoqingbao image class*/
/* biaoqingbao image class*/
/* biaoqingbao image class*/
/* biaoqingbao image class*/

.index {
  display: inline-grid;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgb(209, 209, 209);
  margin: 0rem;
  max-width: 75%;
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  align-items: center;
}

#topmargin {
  margin: 0;
}

/* paragraph box */
/* paragraph box */
/* paragraph box */
/* paragraph box */

.text {
  display: flexbox;
  flex-direction: column;
  grid-area: 2 / 3 / 4 / 5;


}

/* paragraph classname */
/* .indexcard {
  grid-area: 2 / 3 / 4 / 5;
  grid-column: 3 / 6;
  grid-row: 1 / 3;
} */


/* planner img */
/* planner img */
/* planner img */
/* planner img */

.box  {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-area: 3 / 2 / 5 / 5 ;
  justify-items: center;
  align-items: center;
}

.container {
    max-width: 90%;
    margin: 4rem auto 3rem;
}

#top {
  margin-top: 0;
}

.content {
bottom: 1.5rem;
margin: 0 auto;
max-width: 100%;
position: absolute;
width: 100%;
text-decoration: none;
}


/* browse web */
/* browse web */
/* browse web */
/* browse web */

#notop {
  grid-area: 5 / 2 / 6 / 5;
  padding: 2rem!important;
  margin-bottom: 3rem!important;
  margin-top: 1rem!important;
  font-size: 1.2rem;
  background-color: rgb(255, 250, 203);
  border-style: dashed solid;
  border-width: 0.5rem;
  border-color: rgb(240, 128, 128, 0.4);
}

}





@media (min-width: 960px) {

.header_image01 {
  display: none;
}

.tiange01 {
  display: none;
}
.tiange02 {
  /* background-color: rgb(255, 211, 115); */
  display: initial;
  font-size: 1.1rem;
  margin: 0;
  padding-top: 0;
  text-align: center;
}

.header {
  background-color: transparent;
}



.navigation {
    /* background-color: rgb(255, 227, 168); */
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: flex-start;
}

.navigation a {
  padding: 1rem;
}

#home, #aboutme, #plannerdesign {
 background-color: transparent;
 width: 130px;
 /* text-align: center; */
 padding-top: 0.1rem;
}

#home :hover{
  background-color: rgb(255, 255, 200);
}

#aboutme :hover{
  background-color: rgb(255, 255, 180);
}

#plannerdesign :hover{
  background-color: rgb(253, 255, 150);
}




}


